BasedOnStyle: Google

# Language:        Cpp
Standard:        Cpp11

IndentWidth:     4
ColumnLimit:     80

AlignAfterOpenBracket: DontAlign

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true

BinPackArguments: true
BinPackParameters: true

BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false

PenaltyBreakAssignment: 20
PenaltyBreakBeforeFirstCallParameter: 19
