BasedOnStyle: Google

Language:        Cpp
Standard:        Cpp11

IndentWidth:     4
ColumnLimit:     80

AlignAfterOpenBracket: DontAlign

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BinPackArguments: true
BinPackParameters: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: true

Cpp11BracedListStyle: true

DerivePointerAlignment: false
PointerAlignment: Left

IndentWrappedFunctionNames: false

PenaltyBreakAssignment: 200
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyBreakComment: 30
PenaltyBreakFirstLessLess: 30
PenaltyBreakString: 30
PenaltyExcessCharacter: 30
PenaltyReturnTypeOnItsOwnLine: 200
