BasedOnStyle: Google

# Language:        Cpp
Standard:        Cpp11

AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false

PenaltyBreakAssignment: 20
PenaltyBreakBeforeFirstCallParameter: 50

DerivePointerAlignment: false
PointerAlignment: Left
