bin
build
out
out1
msvc
.vscode/.cmaketools.json
/*.hdr
/*.exr
/*.png
/*.jpg
/*.ply
/*.obj
/*.stl
.vscode/ipch/
tests/renderings/*.png
tests/renderings/*.hdr
tests1/
tests2/
.vs
testsr/
site/
tests/_version40/sculpting1
tests/_version40/cities1